<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>{{ title }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click="toggleFilter">{{ filters.length > 0? 'Clear filter(s)': 'Filter' }}</v-btn>
      <v-btn @click="addNew">Add new</v-btn>
    </v-toolbar>

    <item-forge
      v-if="forgeVisible"
      :value="forgeValue"
      :title="forgeTitle"
      :fields="cols"
      :loading="forgeLoading"
      :msg="forgeMsg"
      @input="handleForgeInput"
      @close="handleForgeClose"
    />

    <table-filter v-if="filters.length > 0" :fields="cols" @input="filters = $event"/>

    <v-data-table
      v-model="selected"
      :select-all="!!selectable"
      item-key="sid"
      :headers="tableHeader"
      :items="rows"
      :total-items="myPagination.totalItems"
      :loading="loading"
      class="elevation-1"
      @update:pagination="updatePagination"
    >
      <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
      <template v-slot:items="props">
        <td v-if="selectable">
          <v-checkbox v-model="props.selected" primary hide-details></v-checkbox>
        </td>
        <td v-for="(col,i) in cols" :key="props.index+'_'+i">
          <!--Actual item-->
          <nuxt-link
            v-if="col.link"
            :to="linkGenerator(col.link, props.item)"
          >{{ props.item[col.value] }}</nuxt-link>
          <template v-else>{{ props.item[col.value] }}</template>
        </td>

        <td class="px-0 text-xs-right">
          <v-menu offset-y left>
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>more_vert</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-tile @click="editItem(props.item)">
                <v-list-tile-title>
                  <v-icon left>edit</v-icon>Edit
                </v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="deleteItem(props.item)">
                <v-list-tile-title>
                  <v-icon left>delete</v-icon>Delete
                </v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
      </template>
    </v-data-table>
  </div>
</template>


<script>
import tableFilter from '~/components/table-filter'
import itemForge from '~/components/item-forge'

export default {
  components: { tableFilter, itemForge },
  props: [
    'rows',
    'cols',
    'selectable',
    'loading',
    'pagination',
    'title',
    'forgeMsg',
    'forgeLoading'
  ],
  data: () => ({
    forgeValue: {},
    forgeVisible: false,
    forgeMode: null,
    selected: [],
    filters: [],
    myPagination: {}
  }),
  computed: {
    tableHeader() {
      return [...this.cols, { text: '', value: 'actions', sortable: false }]
    },
    forgeTitle() {
      var prefix = ''
      if (this.forgeMode == 'add') {
        prefix = 'Add '
      } else if (this.forgeMode == 'edit') {
        prefix = 'Edit'
      }
      return prefix + ' ' + this.title
    },
    reloadParams() {
      return {
        filters: this.filters,
        // Needs some work
        pagination: this.myPagination
      }
    }
  },
  methods: {
    addNew() {
      this.forgeMode = 'add'
      this.forgeValue = {}
      this.forgeVisible = true
    },
    editItem(item) {
      this.forgeMode = 'edit'
      this.forgeValue = item
      this.forgeVisible = true
    },
    deleteItem(item) {
      if (confirm(`Do you want to delete this item?`)) {
        this.$emit('delete', item)
      }
    },
    handleForgeInput(e) {
      this.$emit(this.forgeMode, e)
    },
    handleForgeClose() {
      this.forgeMode = null
      this.forgeVisible = false
    },
    updatePagination(e) {
      this.myPagination = e
      this.$emit('reload', this.reloadParams)
    },
    toggleFilter() {
      if (this.filters.length > 0) this.filters = []
      else this.filters.push({ field: '', operator: 'like', value: '' })
    },
    linkGenerator(link, item) {
      var final = ''
      link.split('/').forEach(sgmt => {
        var finalSgmt = sgmt
        // If a segment starts with :, then we will replace it with value
        if (sgmt.charAt(0) == ':') {
          var replaceField = sgmt.slice(1)
          // Check if the required replace field exists
          if (typeof item[replaceField] != 'undefined') {
            finalSgmt = item[replaceField]
          }
        }
        final += finalSgmt + '/'
      })
      return final
    }
  },
  watch: {
    selected(nv, ov) {
      this.$emit('update:selected', nv)
    },
    forgeVisible(nv, ov) {
      if (!nv) this.forgeMode = null
    },
    filters(nv, ov) {
      this.$emit('reload', this.reloadParams)
    }
  },
  mounted() {
    this.myPagination = this.pagination
  }
}
</script>
