<template>
  <v-form>
    <v-card>
      <v-card-text>
        <v-container class="pa-0" grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm6 v-for="(field, i) in fields" :key="'formitem_'+i">
              <universal-input
                :type="field.type"
                :options="field.options"
                :label="field.text"
                v-model="item[field.value]"
              />
            </v-flex>
          </v-layout>
        </v-container>
        <small class="red--text">{{message}}</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          :disabled="loading"
          :loading="loading"
          @click.stop="$emit('input', item)"
        >Submit</v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>
import universalInput from '~/components/universal-input'

export default {
  props: ['fields', 'value', 'loading', 'message'],
  components: { universalInput },
  data: () => ({
    item: {}
  }),
  methods: {
    populateItem() {
      if (typeof this.value == 'object') {
        for (var v in this.value) {
          if (this.value.hasOwnProperty(v)) {
            this.item[v] = this.value[v]
          }
        }
      }
    }
  },
  mounted() {
    // Adding properties of this.item reactively
    this.fields.forEach(field => {
      this.$set(this.item, field.value, '')
    })

    // Populating this.item while preserving its reactivity
    this.populateItem()
  },
  watch: {
    value(nv, ov) {
      // Populating this.item while preserving its reactivity
      this.populateItem()
    }
  }
}
</script>
