<template>
  <v-dialog v-model="visible" persistent max-width="800px">
    <v-toolbar dense>
      <v-toolbar-title>
        <span class="headline">{{ title }}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="close">
        <v-icon>close</v-icon>
      </v-btn>
    </v-toolbar>

    <item-form
      :fields="fields"
      @input="$emit('input', $event)"
      :loading="loading"
      :message="msg"
      :value="value"
    />
  </v-dialog>
</template>

<script>
import itemForm from '~/components/item-form'
var delay = 50
export default {
  props: ['title', 'fields', 'value', 'loading', 'msg'],
  components: { itemForm },
  data: () => ({
    visible: false
  }),
  methods: {
    close() {
      this.visible = false
      setTimeout(() => {
        this.$emit('close')
      }, delay)
    }
  },
  mounted() {
    setTimeout(() => {
      this.visible = true
    }, delay / 10)
  }
}
</script>
