<template>
  <v-menu transition="slide-y-transition" bottom offset-y>
    <template v-slot:activator="{ on }">
      <v-btn icon large v-on="on">
        <v-avatar size="32px" tile>
          <img :src="avatar" alt="Avatar">
        </v-avatar>
      </v-btn>
    </template>
    <v-list>
      
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>{{ name }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile v-for="(item, i) in items" :key="i" nuxt :to="item.link">
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ item.text }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  data: () => ({
    items: [
      { icon: 'person', text: 'Profile', link: '/profile' },
      { icon: 'settings', text: 'Settings', link: '/settings' },
      { icon: 'logout', text: 'Logout', link: '/logout' }
    ],
  }),
  computed: {
    avatar() {
      return (this.$auth.user && this.$auth.user.avatar) || 'https://cdn.vuetifyjs.com/images/logos/logo.svg'
    },
    name() {
      return (this.$auth.user && this.$auth.user.name) || ''
    }
  }
}
</script>
