<template>
  <v-menu transition="slide-y-transition" bottom offset-y>
    <template v-slot:activator="{ on }">
      <v-btn flat dark v-on="on" style="text-transform: capitalize;">
        {{ currentRole.title }}
        ({{ currentRole.scope }})
        <v-icon>keyboard_arrow_down</v-icon>
      </v-btn>
    </template>
    <v-list dense two-line>
      <v-list-tile v-for="(item, i) in $store.state.role.roles" :key="i" @click="selectRole(i)">
        <v-list-tile-content>
          <v-list-tile-title :class="itemClass(i)">{{ item.title }}</v-list-tile-title>
          <v-list-tile-sub-title :class="itemClass(i)">{{ item.scope }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>


<script>
export default {
  computed: {
    currentRole() {
      return this.$store.state.role.roles[this.$store.state.role.selected]
    }
  },
  methods: {
    selectRole(i) {
      this.$store.commit('role/select', i)
    },
    itemClass(i) {
      return this.$store.state.role.selected == i
        ? ['primary--text', 'font-weight-bold']
        : ''
    }
  }
}
</script>
