<template>
  <div class="pa-3">
    <v-layout row v-for="(filter,i) in filters" :key="'filter_'+i">
      <v-flex xs4 sm4>
        <v-select
          solo
          v-model="filter.field"
          @input="filter.value = ''"
          :items="fields"
          item-text="text"
          item-value="value"
          label="Field"
        ></v-select>
      </v-flex>
      <v-flex xs3 sm3>
        <v-select
          solo
          :items="operators"
          v-model="filter.operator"
          item-text="title"
          item-value="code"
          label="Operator"
        ></v-select>
      </v-flex>
      <v-flex xs4 sm4>
        <universal-input
          v-model="filter.value"
          :type="getField(i).type"
          :options="getField(i).options"
          solo
          label="Value"
        />
      </v-flex>
      <v-flex xs1 sm1>
        <v-btn color="error" flat icon @click="removeFilter(i)">
          <v-icon>close</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-tooltip right>
        <template v-slot:activator="{ on }">
          <v-btn small fab color="primary" @click="addFilter" v-on="on">
            <v-icon>add</v-icon>
          </v-btn>
        </template>
        <span>Add more filters</span>
      </v-tooltip>

      <v-spacer></v-spacer>
      <v-btn color="primary" @click="$emit('input', filters)">Apply Filter</v-btn>
    </v-layout>
  </div>
</template>

<script>
import universalInput from '~/components/universal-input'

var emptyFilter = () => ({ field: '', operator: 'like', value: '' })
export default {
  props: ['fields'],
  components: { universalInput },
  data: () => ({
    operators: [
      { title: 'Similar to', code: 'like' },
      { title: 'Exactly equals to', code: '==' },
      { title: 'Greater than', code: '>' },
      { title: 'Less than', code: '<' },
      { title: 'Greater than or equals to', code: '>=' },
      { title: 'Less than or equals to', code: '<=' }
    ],
    filters: [emptyFilter()]
  }),
  methods: {
    addFilter() {
      this.filters.push(emptyFilter())
    },
    removeFilter(i) {
      this.filters.splice(i, 1)
    },
    getField(i) {
      var filter = this.filters[i]
      for (var j = 0; j < this.fields.length; j++) {
        if (this.fields[j].value == filter.field) {
          return {
            type: this.fields[j].type,
            options: this.fields[j].options
          }
        }
      }
      return { type: 'text', options: {} }
    }
  }
}
</script>

