<template>
  <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="blue darken-3" dark app fixed>
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
      <v-toolbar-side-icon @click.stop="$store.commit('mainlayout/toggle')"></v-toolbar-side-icon>
      <span class="hidden-sm-and-down">{{ $store.state.brand.name }}</span>
    </v-toolbar-title>

    <v-spacer></v-spacer>
    <v-toolbar-items>
      <role-selector/>

      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>

      <profile-menu/>
    </v-toolbar-items>
  </v-toolbar>
</template>


<script>
import roleSelector from '~/components/role-selector'
import profileMenu from '~/components/profile-menu'
export default {
  components: { roleSelector, profileMenu }
}
</script>
