<template>
  <div>
    <v-text-field
      v-if="['text', 'number', 'email', 'password'].includes(type.toLowerCase())"
      v-model="content"
      @input="handleInput"
      :solo="solo"
      :label="label"
      :type="type"
    />
    
    <v-select
      v-else-if="['select'].includes(type.toLowerCase())"
      v-model="content"
      @input="handleInput"
      :items="options.items"
      :solo="solo"
      :label="label"
      :multiple="!!options.multiple"
    />

    <v-menu
      v-else-if="['date'].includes(type.toLowerCase())"
      v-model="dateInput"
      :close-on-content-click="false"
      transition="slide-y-transition"
      offset-y
      full-width
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="content"
          :label="label"
          :solo="solo"
          readonly
          v-on="on"
          append-icon="event"
        ></v-text-field>
      </template>
      <v-date-picker v-model="content" @input="handleDateInput"></v-date-picker>
    </v-menu>
    
    <v-checkbox
      v-else-if="['boolean'].includes(type.toLowerCase())"
      v-model="content" 
      @input="handleInput" 
      :label="label"
    />

  </div>
</template>

<script>
/*
text
number
email
password
select
date
boolean
*/
export default {
  props: ['type', 'options', 'value', 'solo', 'label'],
  data: () => ({
    content: '',
    dateInput: false,
  }),
  methods: {
    handleInput(e) {
      this.$emit('input', this.content)
    },
    handleDateInput(e) {
      this.dateInput = false;
      this.handleInput(e);
    }
  },
  mounted() {
    if (typeof this.options != 'object') this.options = {}
    this.content = this.value
  },
  watch: {
    value(newval, oldval) {
      this.content = newval
    }
  }
}
</script>
