<template>
  <v-app>
    <nav-drawer/>

    <toolbar/>

    <v-content>
      <v-container>
        <nuxt/>
      </v-container>
    </v-content>

    <v-footer inset app>
      <span>&copy; Sabpad 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import navDrawer from '~/components/nav-drawer.vue'
import toolbar from '~/components/toolbar.vue'
export default {
  components: { navDrawer, toolbar },
  mounted() {
    if (localStorage.getItem('selectedRoleIndex')) {
      this.$store.commit(
        'role/select',
        localStorage.getItem('selectedRoleIndex')
      )
    }
  }
}
</script>
