<template>
  <v-layout>
    <v-flex>
      <crud-table
        ref="table"
        :cols="cols"
        :rows="rows"
        :selectable="true"
        :loading="false"
        :pagination="pagination"
        :selected.sync="selectedRows"
        title="Demo"
        :forgeLoading="formLoading"
        :forgeMsg="formMsg"
        @reload="loadData"
        @add="add"
        @edit="edit"
        @delete="deleteItem"
      />
    </v-flex>
  </v-layout>
</template>

<script>
import crudTable from '~/components/crud-table'

export default {
  auth: false,
  layout: 'main',
  data: () => ({
    formLoading: false,
    formMsg: '',
    cols: [
      {
        text: 'Dessert (100g serving)',
        align: 'left',
        sortable: false,
        value: 'sid',
        type: 'text',
        link: '/students/:sid'
      },
      { text: 'Calories', value: 'calories', type: 'date' },
      { text: 'Fat (g)', value: 'fat', type: 'boolean' },
      {
        text: 'Carbs (g)',
        value: 'carbs',
        type: 'number',
        options: { min: 5, max: 100 }
      },
      {
        text: 'Protein (g)',
        value: 'protein',
        type: 'select',
        options: {
          items: [
            { text: 'A', value: 'a' },
            { text: 'B', value: 'b' },
            { text: 'C', value: 'c' }
          ]
        }
      }
    ],

    pagination: {
      descending: false,
      page: 1,
      rowsPerPage: 5,
      sortBy: 'sid',
      totalItems: 7
    },
    rows: [
      {
        sid: 'Frozen Yogurt',
        calories: 159,
        fat: 6.0,
        carbs: 24,
        protein: 4.0
      },
      {
        sid: 'Ice cream sandwich',
        calories: 237,
        fat: 9.0,
        carbs: 37,
        protein: 4.3
      },
      {
        sid: 'Eclair',
        calories: 262,
        fat: 16.0,
        carbs: 23,
        protein: 6.0
      },
      {
        sid: 'Cupcake',
        calories: 305,
        fat: 3.7,
        carbs: 67,
        protein: 4.3
      },
      {
        sid: 'Gingerbread',
        calories: 356,
        fat: 16.0,
        carbs: 49,
        protein: 3.9
      },
      {
        sid: 'Jelly bean',
        calories: 375,
        fat: 0.0,
        carbs: 94,
        protein: 0.0
      },
      {
        sid: 'Lollipop',
        calories: 392,
        fat: 0.2,
        carbs: 98,
        protein: 0
      },
      {
        sid: 'Honeycomb',
        calories: 408,
        fat: 3.2,
        carbs: 87,
        protein: 6.5
      },
      {
        sid: 'Donut',
        calories: 452,
        fat: 25.0,
        carbs: 51,
        protein: 4.9
      },
      {
        sid: 'KitKat',
        calories: 518,
        fat: 26.0,
        carbs: 65,
        protein: 7
      }
    ],
    selectedRows: []
  }),
  components: {
    crudTable
  },
  methods: {
    loadData(options) {
      console.log(options)
    },
    add(e) {
      this.formLoading = true
      setTimeout(() => {
        this.formLoading = false
        this.$refs.table.forgeVisible = false
      }, 3000)
    },
    edit(e) {
      alert(`Edited ${e.sid}`)
      this.add(e)
    },
    deleteItem(e) {
      alert(`Deleted ${e.sid}`)
    }
  }
}
</script>
