<template>
  <v-container fluid fill-height>
    <v-layout justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-6">
          <v-toolbar dark dense color="primary">
            <v-toolbar-title>Login form</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <p class="red--text">{{ message }}</p>

            <v-form ref="form">
              <v-text-field
                prepend-icon="person"
                name="login"
                label="Email or username"
                type="text"
                v-model="email"
              ></v-text-field>

              <v-text-field
                prepend-icon="lock"
                name="password"
                label="Password"
                type="password"
                v-model="password"
              ></v-text-field>
              <nuxt-link to="/password-reset">Forgot password</nuxt-link>
            </v-form>
            
          </v-card-text>
          <v-card-actions class="pa-3">
            <v-btn to="/signup" color="secondary">Signup</v-btn>
            <v-spacer></v-spacer>
            <v-btn @click="reset">Reset</v-btn>
            <v-btn @click="login" color="primary">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>



<script>
export default {
  auth: false,
  data: () => ({
    message: '',
    email: '',
    password: ''
  }),

  methods: {
    reset() {
      this.$refs.form.reset()
      this.message = ''
    },
    async login() {
      try {
        await this.$auth.loginWith('local', {
          data: {
            email: this.email,
            password: this.password
          }
        })

        this.$router.push('/')
      } catch (error) {
        this.message = error.message
      }
    }
  }
}
</script>
