<template>
  <v-container fluid fill-height>
    <v-layout justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-6">
          <v-toolbar dark dense color="primary">
            <v-toolbar-title flat>Recover your password</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <p class="primary--text">{{ message }}</p>
            <v-form ref="form">
              <v-text-field prepend-icon="email" name="login" label="Email" type="text"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="submit" color="primary">Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>



<script>
export default {
  auth: false,
  data: () => ({
    message: ''
  }),

  methods: {
    submit() {
      this.message = 'Email sent'
    }
  }
}
</script>