<template>
  <v-container fluid fill-height>
    <v-layout justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-6" style="border-radius:5px">
          <v-toolbar dark dense color="primary" flat>
            <v-toolbar-title>Create new account</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form ref="form">
              <p class="red--text">{{ message }}</p>
              <v-text-field
                prepend-icon="person"
                name="name"
                label="Full Name"
                type="text"
                v-model="name"
              ></v-text-field>
              <v-text-field
                prepend-icon="email"
                name="login"
                label="Email"
                type="email"
                v-model="email"
                :rules="emailRules"
              ></v-text-field>
              <v-text-field
                prepend-icon="lock"
                name="password"
                label="Password"
                type="password"
                v-model="password"
              ></v-text-field>
              <v-text-field
                prepend-icon="lock"
                name="password-conf"
                label="Confirm password"
                type="password"
                :rules="confpassrules"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions class="pa-3">
            <v-spacer></v-spacer>
            <v-btn @click="submit" color="primary">Create account</v-btn>
          </v-card-actions>
        </v-card>

        <div class="mt-5 text-xs-center">
          Already have an account?
          <nuxt-link to="/login">Login here</nuxt-link>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import axios from '@nuxtjs/axios'

export default {
  auth: false,
  data: () => ({
    name: '',
    email: '',
    password: '',
    message: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid'
    ]
  }),

  computed: {
    confpassrules() {
      return [v => this.password == v || 'Both the passwords must match']
    }
  },

  methods: {
    async submit() {
      try {
        var res = await this.$axios.$post('/signup?gentoken=yes', {
          name: this.name,
          email: this.email,
          password: this.password
        })

        if (res.token) {
          await this.$auth.setUserToken(res.token)
          this.$router.push('/')
        } else {
          this.$router.push('/login')
        }
      } catch (error) {
        this.message = error.message
      }
    }
  }
}
</script>
